doctype html
html
    head
        title
            block title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                //- Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(
                        type="button"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                    )
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    span.navbar-brand Node.js Chat

                //- Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    if navigation.left && navigation.left.length > 0
                        ul.nav.navbar-nav
                            each item in navigation.left
                                li(class = item.isActive === true ? 'active' : '')
                                    a(href="#{item.href}")= item.label
                    if navigation.right && navigation.right.length > 0
                        ul.nav.navbar-nav.navbar-right
                            each item in navigation.right
                                li(class = item.isActive === true ? 'active' : '')
                                    a(href="#{item.href}")= item.label
        .container
            block content
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/app.js')
    block scripts
