extends layout

block title
    | Login

block content

    form(class="block-panel")
        h2(class="block-panel-heading") Sign in
        input(
            type="text"
            class="form-control credentials"
            placeholder="Email address"
            required="" autofocus=""
        )
        input(
            type="password"
            class="form-control credentials"
            placeholder="Password"
            required=""
        )
        label(class="checkbox")
            input(type="checkbox", value="remember-me")
            | Remember me
        button(class="btn btn-lg btn-primary btn-block", type="submit") Login
