extends layout

block title
    | Login

block content
    .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form
                h1 Sign In
                .form-group
                    input(
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        required="" autofocus=""
                    )
                .form-group
                    input(
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        required=""
                    )
                .form-group
                    .row
                        .col-md-6
                            .checkbox
                                label
                                    input(type="checkbox", value="remember-me")
                                    | Remember me
                        .col-md-6.text-right
                            button(class="btn btn-primary", type="submit") Sign In
