extends layout

block title
    | Uploads

block content
    .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            h1 Uploads
            h2 Upload new file
            form.well(method="post", enctype="multipart/form-data")
                if message
                    .form-group
                        if status === 1
                            .alert.alert-success= message
                        if status === 0
                            .alert.alert-danger= message
                .form-group
                    input(
                        name="uploadFile",
                        type="file",
                        accept="image/*"
                    )
                button.btn.btn-primary(type="submit")
                    | Upload
                | &nbsp;
                span.small Image files under 500 KB allowed
            if uploads && uploads.length > 0
                h2 Your uploads
                ul
                    each upload, index in uploads
                        li
                            //- cannot write host to href or else on localhost browser won't go to link
                                looks like some browser security feature
                            a(href="uploads/#{upload.filename}")
                                | #{host + '/uploads/' + upload.filename}
