extends layout

block title
    | Upload

block content
    .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form(method="post", enctype="multipart/form-data", id="uploadForm")
                h1 Upload
                if files
                    each file, fileIndex in files
                        each value, key in file
                            div #{key}: #{value}
                if message
                    .form-group
                        if status === 1
                            .alert.alert-success= message
                        if status === 0
                            .alert.alert-danger= message
                .form-group
                    p Image files under 500 KB allowed
                .form-group
                    input(
                        name="uploadFile",
                        type="file",
                        accept="image/*"
                    )
                .form-group
                    button(class="btn btn-primary", type="submit") Upload
